.canv_bg {
  position:absolute;
  left:0;
  top:0;
  z-index:-1;
}
.thumb {
  height:160px;
  width:160px;
}
.tile {
    border: 5px outset rgba(255, 255, 255, 0.0);
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    float: left;
    height: 192px;
    width: 176px;
    margin: 10px;
}
