body
  {background-color:  black;
   background-image:  url(Images/starBG.gif);
   background-repeat: repeat;
   font-color:        #FFFFFF}

H1
  {text-align:        left;
   color:             #3333FF;
   font-size:         36px}

H2
  {text-align:        left}

H3
  {text-align:        left;
   display:           inline;
   font-size:         16px;
   font-weight:       bolder;
   color:             #FF0000}

.main
  {color:             #FFFFFF;
   font-weight:       normal;
   position:          relative;
   background-color:  #000000;
   border-style:      none;
   border-width:      thick;
   border-color:      #FFFFFF;
   width:             65%;
   float:             left;
   margin:            5px;
   margin-bottom:     150px;
   padding:           5px;
   font-family:              Courier New, Courier, monospace;
   overflow:          inherit}

.side
  {color:             #FFFFFF;
   font-weight:       normal;
   border-style:      solid;
   border-width:      thick;
   border-color:      #000000;
   overflow:          visible;
   float:             left;
   width:             150px;
   margin:            5px}

A:link,A:visited,A:active
  {text-decoration:   none;
   font-weight:       bolder;
   color:             #3366FF}

A:hover
  {text-decoration:   none;
   color:             red}